body {
    font-family: 'Segoe UI', Arial;
    background-color: #f4f6f8;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    background: white;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 20px;
}

input, select, button {
    padding: 8px;
    margin: 5px;
}

button {
    background-color: #0078d7;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th {
    background-color: #0078d7;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.filters {
    margin-bottom: 10px;
    text-align: center;
}

.filters a {
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}
.today-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.today-btn:hover {
    background-color: #218838;
}

/* Logout button container */
.logout-container {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}


/* Logout button style */
.logout-btn {
    background-color: #e53935;
    color: white;
    padding: 12px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
}

/* Hover effect */
.logout-btn:hover {
    background-color: #c62828;
    transform: translateY(-2px);
}
.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 40px;
}
canvas {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
